<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Volunteer System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="refresh" content="900">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <img src="~/Photos/logo-version1.png" width="80" height="80" /><br/>
                @Html.ActionLink("Volunteer System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Events", "Index", "Event")</li>
                    <li>@Html.ActionLink("Volunteers", "Index", "Volunteer")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "Job")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h3> CONTACT US</h3>

            <p>
                Physical address: <br />
                4218 S. Steele Street, Suite 215<br />
                Tacoma WA 98409<br />
                Mailing Address:<br />
                Po Box 94545 Seattle 98124<br /><br />
                Tacoma #: 253-212-2778<br />
                Seattle #: 206-262-7770<br /><br />


            </p>
            <hr />
            <center>
                <p> <i>Email: info@themadfseattle.org</i></p>
                <p><i>&copy; @DateTime.Now.Year - Volunteer System</i></p>
            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
